@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
body{
    background: linear-gradient(to right, rgb(187, 243, 243),white, rgb(187, 243, 243));
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.7rem;
    text-align: center;
}
.container {
    max-width: 700px;
    margin: 0 auto;
    border-radius: 1rem;
}
.input-field {
    position: relative;
    width: 100%;
}
input, #to-do-box li{
    margin-bottom: 2rem;
    text-align: left;
    font-size: 20px;
    padding: 1rem;
    border: 1px solid rgb(3, 3, 3);
    outline: 0;
    border-radius: 5px;
    width: 100%;
    transition: all 0.2s ease;
    height: 3.6rem;
    background-color: transparent;
}
.input-field .add {
    position: absolute;
    right: 0;
    top: 1;
    font-size: 2.6rem;
    background-color: rgb(2, 2, 2);
    color: #fff;
    padding: 4px 15px;
    border-radius: 0 5px 5px  0 ;
    transition: all 0.2s ease;
    cursor: pointer;
}
#to-do-box {
    margin-top: 10px;
    list-style: none;
    padding-inline-start: 0;
    list-style: none;
}
#to-do-box li {
    position: relative;
    margin-bottom: .5rem;
    text-transform: capitalize;
}
#to-do-box li i{
    position: absolute;
    right: 8px;
    top: 13px;
    margin-right: 5px;
    font-size: 2rem;
    color: red;
}
#to-do-box li .done{
    right: 45px;
    color: green;
}
